<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <!-- bxslider css -->
    <!--flaticon css -->
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link href="assets/css/video-js.css" rel="stylesheet">
    <!-- style css -->
    <link rel="stylesheet" href="assets/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="{{ asset('assets/app.js') }}"></script>
    <title>Hello, world!</title>
  </head>
  <body>
 
  @include('layouts/partials/_navbar')
  
  @!section('content')

  @include('layouts/footer')

      <!-- jquery latest version -->
      <script src="assets/js/vendor/jquery-3.2.1.min.js"></script>
      <!-- tether js -->
      <script src="assets/js/tether.min.js"></script>
      <!-- bootstrap js -->
      <script src="assets/js/bootstrap.min.js"></script>
      <!-- owl.carousel js -->
      <script src="assets/js/owl.carousel.min.js"></script>
      <!-- meanmenu js -->
      <script src="assets/js/jquery.meanmenu.js"></script>
      <!-- jquery-ui js -->
      <script src="assets/js/jquery-ui.min.js"></script>
      <!-- easypiechart js -->
      <script src="assets/js/jquery.easypiechart.min.js"></script>
      <!-- particles js -->
      <!-- wow js -->
      <script src="assets/js/wow.min.js"></script>
      <!-- smooth-scroll js -->
      <script src="assets/js/smooth-scroll.min.js"></script>
      <script src="assets/js/particles.min.js"></script>
      <!-- plugins js -->
      <script src="assets/js/plugins.js"></script>
      <!-- EChartJS JavaScript -->
      <script src="assets/js/echarts-en.min.js"></script>
      <script src="assets/js/echarts-liquidfill.min.js"></script>
      <script src="assets/js/vc_round_chart.min.js"></script>
      <script src="assets/js/videojs-ie8.min.js"></script>
      <script src="assets/js/video.js"></script>
      <script src="assets/js/Youtube.min.js"></script>
      <!-- main js -->
      <script src="assets/js/main.js"></script>
  </body>
</html>